n8n automations/booking-confirmation-automation.json
{
  "name": "Booking Confirmation Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - New Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "booking-created"
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/marketplace/bookings/{{ $json.body.bookingId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-booking",
      "name": "Get Booking Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.client.email }}"
            },
            {
              "name": "subject",
              "value": "Booking Confirmation - {{ $json.service.title }}"
            },
            {
              "name": "template",
              "value": "booking-confirmation"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ bookingId: $json._id, serviceName: $json.service.title, date: $json.scheduledDate, time: $json.scheduledTime, providerName: $json.provider.firstName }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-client-email",
      "name": "Send Client Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.provider.email }}"
            },
            {
              "name": "subject",
              "value": "New Booking Request - {{ $json.service.title }}"
            },
            {
              "name": "template",
              "value": "provider-booking-notification"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ bookingId: $json._id, serviceName: $json.service.title, clientName: $json.client.firstName, date: $json.scheduledDate, time: $json.scheduledTime }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-provider-email",
      "name": "Send Provider Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            [
              {
                "name": "userId",
                "value": "={{ $json.client._id }}"
              },
              {
                "name": "type",
                "value": "booking_created"
              },
              {
                "name": "title",
                "value": "Booking Confirmed"
              },
              {
                "name": "message",
                "value": "Your booking for {{ $json.service.title }} is confirmed"
              }
            ],
            [
              {
                "name": "userId",
                "value": "={{ $json.provider._id }}"
              },
              {
                "name": "type",
                "value": "booking_created"
              },
              {
                "name": "title",
                "value": "New Booking Request"
              },
              {
                "name": "message",
                "value": "You have a new booking request for {{ $json.service.title }}"
              }
            ]
          ]
        },
        "options": {}
      },
      "id": "create-notifications",
      "name": "Create In-App Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Booking confirmation sent' }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - New Booking": {
      "main": [
        [
          {
            "node": "Get Booking Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking Details": {
      "main": [
        [
          {
            "node": "Send Client Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Provider Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Client Confirmation": {
      "main": [
        [
          {
            "node": "Create In-App Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Provider Notification": {
      "main": [
        [
          {
            "node": "Create In-App Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create In-App Notifications": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

