n8n automations/database-backup-automation.json
{
  "name": "Database Backup Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Daily at 2 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/database/optimization/backup",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "daily"
            },
            {
              "name": "retention",
              "value": "7"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-backup",
      "name": "Trigger Database Backup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Backup Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $env.ADMIN_EMAIL }}"
            },
            {
              "name": "subject",
              "value": "Database Backup Completed Successfully"
            },
            {
              "name": "template",
              "value": "backup-success"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ backupId: $json.backupId, size: $json.size, timestamp: $json.timestamp }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-success-email",
      "name": "Send Success Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $env.ADMIN_EMAIL }}"
            },
            {
              "name": "subject",
              "value": "Database Backup Failed - Action Required"
            },
            {
              "name": "template",
              "value": "backup-failure"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ error: $json.error, timestamp: new Date().toISOString() }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-failure-email",
      "name": "Send Failure Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule - Daily at 2 AM": {
      "main": [
        [
          {
            "node": "Trigger Database Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Database Backup": {
      "main": [
        [
          {
            "node": "Backup Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup Successful?": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

