n8n automations/email-marketing-automation.json
{
  "name": "Email Marketing Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Weekly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/email-marketing/campaigns",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "genericAuthProperties": {
          "headers": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "scheduled"
              }
            ]
          }
        }
      },
      "id": "get-scheduled-campaigns",
      "name": "Get Scheduled Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter campaigns ready to send\nconst campaigns = $input.all();\nconst now = new Date();\n\nconst readyToSend = campaigns.filter(campaign => {\n  if (!campaign.json.scheduledAt) return false;\n  const scheduledDate = new Date(campaign.json.scheduledAt);\n  return scheduledDate <= now && campaign.json.status === 'scheduled';\n});\n\nreturn readyToSend.map(campaign => campaign.json);"
      },
      "id": "filter-ready",
      "name": "Filter Ready Campaigns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/email-marketing/campaigns/{{ $json._id }}/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "genericAuthProperties": {
          "headers": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": false,
        "options": {}
      },
      "id": "send-campaign",
      "name": "Send Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/email-marketing/campaigns/{{ $json._id }}/analytics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "genericAuthProperties": {
          "headers": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "track-analytics",
      "name": "Track Campaign Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Schedule - Weekly": {
      "main": [
        [
          {
            "node": "Get Scheduled Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scheduled Campaigns": {
      "main": [
        [
          {
            "node": "Filter Ready Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Campaigns": {
      "main": [
        [
          {
            "node": "Send Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Campaign": {
      "main": [
        [
          {
            "node": "Track Campaign Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

