n8n automations/error-monitoring-automation.json
{
  "name": "Error Monitoring Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/error-monitoring/unresolved",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "genericAuthProperties": {
          "headers": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "severity",
                "value": "critical,high"
              },
              {
                "name": "limit",
                "value": "50"
              }
            ]
          }
        }
      },
      "id": "get-unresolved-errors",
      "name": "Get Unresolved Errors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.errors.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-errors",
      "name": "Has Critical Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "genericAuthProperties": {
          "headers": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $vars.ADMIN_EMAIL }}"
            },
            {
              "name": "subject",
              "value": "Critical Errors Detected - {{ $json.errors.length }} unresolved"
            },
            {
              "name": "template",
              "value": "error-alert"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ errorCount: $json.errors.length, errors: $json.errors.slice(0, 10), dashboardUrl: $vars.BASE_URL + '/admin/errors' }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-alert",
      "name": "Send Admin Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/error-monitoring/stats",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "genericAuthProperties": {
          "headers": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "timeframe",
                "value": "24h"
              }
            ]
          }
        }
      },
      "id": "get-stats",
      "name": "Get Error Statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule - Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Unresolved Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unresolved Errors": {
      "main": [
        [
          {
            "node": "Has Critical Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Critical Errors?": {
      "main": [
        [
          {
            "node": "Send Admin Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Error Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

