n8n automations/finance-reminders-automation.json
{
  "name": "Finance Reminders Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Daily at 10 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/finance/transactions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "type",
                "value": "loan,salary_advance"
              },
              {
                "name": "status",
                "value": "active"
              }
            ]
          }
        }
      },
      "id": "get-active-loans",
      "name": "Get Active Loans & Advances",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter loans/advances needing reminders\nconst transactions = $input.all();\nconst now = new Date();\nconst threeDaysFromNow = new Date(now.getTime() + 3 * 24 * 60 * 60 * 1000);\n\nconst needsReminder = transactions.filter(txn => {\n  if (!txn.json.dueDate) return false;\n  \n  const dueDate = new Date(txn.json.dueDate);\n  const isOverdue = dueDate < now;\n  const isDueSoon = dueDate <= threeDaysFromNow && dueDate > now;\n  \n  return isOverdue || isDueSoon;\n}).map(txn => ({\n  ...txn.json,\n  reminderType: new Date(txn.json.dueDate) < now ? 'overdue' : 'due_soon'\n}));\n\nreturn needsReminder;"
      },
      "id": "filter-reminders",
      "name": "Filter Needs Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.reminderType }}",
              "operation": "equals",
              "value2": "overdue"
            }
          ]
        }
      },
      "id": "check-overdue",
      "name": "Overdue or Due Soon?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "type",
              "value": "payment_overdue"
            },
            {
              "name": "title",
              "value": "Payment Overdue"
            },
            {
              "name": "message",
              "value": "Your {{ $json.type }} payment of ${{ $json.amount }} is overdue. Please make payment immediately."
            }
          ]
        },
        "options": {}
      },
      "id": "send-overdue",
      "name": "Send Overdue Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "type",
              "value": "payment_due_soon"
            },
            {
              "name": "title",
              "value": "Payment Due Soon"
            },
            {
              "name": "message",
              "value": "Your {{ $json.type }} payment of ${{ $json.amount }} is due in 3 days"
            }
          ]
        },
        "options": {}
      },
      "id": "send-due-soon",
      "name": "Send Due Soon Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Schedule - Daily at 10 AM": {
      "main": [
        [
          {
            "node": "Get Active Loans & Advances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Loans & Advances": {
      "main": [
        [
          {
            "node": "Filter Needs Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Needs Reminder": {
      "main": [
        [
          {
            "node": "Overdue or Due Soon?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Overdue or Due Soon?": {
      "main": [
        [
          {
            "node": "Send Overdue Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Due Soon Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

