n8n automations/job-application-followup-automation.json
{
  "name": "Job Application Follow-up Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Daily at 10 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-jobs",
      "name": "Get All Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get applications for each job and filter pending ones\nconst jobs = $input.all();\nconst now = new Date();\nconst sevenDaysAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n\nconst jobsWithPendingApps = [];\n\nfor (const job of jobs) {\n  // In real implementation, you'd fetch applications via API\n  // For now, we'll structure the data\n  if (job.json.applications && job.json.applications.length > 0) {\n    const pendingApps = job.json.applications.filter(app => {\n      return app.status === 'pending' && \n             new Date(app.createdAt) < sevenDaysAgo;\n    });\n    \n    if (pendingApps.length > 0) {\n      jobsWithPendingApps.push({\n        jobId: job.json._id,\n        jobTitle: job.json.title,\n        employerId: job.json.employerId,\n        pendingApplications: pendingApps.length\n      });\n    }\n  }\n}\n\nreturn jobsWithPendingApps;"
      },
      "id": "filter-pending-apps",
      "name": "Filter Pending Applications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.employerId }}"
            },
            {
              "name": "type",
              "value": "job_application_followup"
            },
            {
              "name": "title",
              "value": "Review Pending Applications"
            },
            {
              "name": "message",
              "value": "You have {{ $json.pendingApplications }} pending application(s) for {{ $json.jobTitle }} that need review"
            }
          ]
        },
        "options": {}
      },
      "id": "send-reminder",
      "name": "Send Review Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Schedule - Daily at 10 AM": {
      "main": [
        [
          {
            "node": "Get All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Jobs": {
      "main": [
        [
          {
            "node": "Filter Pending Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Applications": {
      "main": [
        [
          {
            "node": "Send Review Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

