n8n automations/payment-processing-automation.json
{
  "name": "Payment Processing Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Payment Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "payment-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event_type }}",
              "operation": "equals",
              "value2": "PAYMENT.CAPTURE.COMPLETED"
            }
          ]
        }
      },
      "id": "check-payment-status",
      "name": "Payment Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/paypal/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "={{ $json.body.event_type }}"
            },
            {
              "name": "resource",
              "value": "={{ JSON.stringify($json.body.resource) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "process-payment",
      "name": "Process Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.user.email }}"
            },
            {
              "name": "subject",
              "value": "Payment Confirmed"
            },
            {
              "name": "template",
              "value": "payment-confirmation"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ amount: $json.amount, transactionId: $json.transactionId, type: $json.type }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-payment-email",
      "name": "Send Payment Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "type",
              "value": "payment_completed"
            },
            {
              "name": "title",
              "value": "Payment Confirmed"
            },
            {
              "name": "message",
              "value": "Your payment of ${{ $json.amount }} has been confirmed"
            }
          ]
        },
        "options": {}
      },
      "id": "create-notification",
      "name": "Create Payment Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Payment processed' }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - Payment Event": {
      "main": [
        [
          {
            "node": "Payment Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Completed?": {
      "main": [
        [
          {
            "node": "Process Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Payment": {
      "main": [
        [
          {
            "node": "Send Payment Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Payment Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Payment Confirmation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Payment Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

