n8n automations/subscription-renewal-automation.json
{
  "name": "Subscription Renewal Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/localpro-plus/admin/subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "active"
              },
              {
                "name": "expiringSoon",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "get-expiring-subscriptions",
      "name": "Get Expiring Subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter subscriptions expiring in next 3 days\nconst subscriptions = $input.all();\nconst today = new Date();\nconst threeDaysFromNow = new Date(today.getTime() + 3 * 24 * 60 * 60 * 1000);\n\nconst expiringSoon = subscriptions.filter(sub => {\n  const endDate = new Date(sub.json.endDate);\n  return endDate <= threeDaysFromNow && endDate > today;\n});\n\nreturn expiringSoon.map(sub => sub.json);"
      },
      "id": "filter-expiring",
      "name": "Filter Expiring Soon",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.user.email }}"
            },
            {
              "name": "subject",
              "value": "Your LocalPro Plus Subscription Expires Soon"
            },
            {
              "name": "template",
              "value": "subscription-expiring"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ planName: $json.plan.name, endDate: $json.endDate, renewalUrl: $env.BASE_URL + '/renew/' + $json._id }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-renewal-reminder",
      "name": "Send Renewal Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.BASE_URL }}/api/localpro-plus/renew",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriptionId",
              "value": "={{ $json._id }}"
            },
            {
              "name": "autoRenew",
              "value": "={{ $json.autoRenew || false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "auto-renew",
      "name": "Auto Renew Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.autoRenew }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-auto-renew",
      "name": "Auto Renew Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Schedule - Daily Check": {
      "main": [
        [
          {
            "node": "Get Expiring Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Expiring Subscriptions": {
      "main": [
        [
          {
            "node": "Filter Expiring Soon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Expiring Soon": {
      "main": [
        [
          {
            "node": "Auto Renew Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Renew Enabled?": {
      "main": [
        [
          {
            "node": "Auto Renew Subscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Renewal Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

