n8n automations/supplies-order-automation.json
{
  "name": "Supplies Order Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/supplies/my-orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.API_TOKEN }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "pending,processing,shipped"
              }
            ]
          }
        }
      },
      "id": "get-orders",
      "name": "Get Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter orders needing action\nconst orders = $input.all();\nconst now = new Date();\nconst oneHourAgo = new Date(now.getTime() - 60 * 60 * 1000);\nconst threeDaysAgo = new Date(now.getTime() - 3 * 24 * 60 * 60 * 1000);\n\nconst needsAction = orders.filter(order => {\n  // Abandoned payment (pending payment > 1 hour)\n  if (order.json.status === 'pending' && \n      order.json.payment && \n      order.json.payment.status === 'pending') {\n    const createdAt = new Date(order.json.createdAt);\n    return createdAt < oneHourAgo;\n  }\n  \n  // Processing SLA (processing > 3 days)\n  if (order.json.status === 'processing') {\n    const processingDate = new Date(order.json.updatedAt || order.json.createdAt);\n    return processingDate < threeDaysAgo;\n  }\n  \n  // Shipped delivery confirmation (shipped > 14 days)\n  if (order.json.status === 'shipped') {\n    const shippedDate = new Date(order.json.shipping?.shippedAt || order.json.updatedAt);\n    const fourteenDaysAgo = new Date(now.getTime() - 14 * 24 * 60 * 60 * 1000);\n    return shippedDate < fourteenDaysAgo;\n  }\n  \n  return false;\n}).map(order => ({\n  ...order.json,\n  actionType: order.json.status === 'pending' ? 'abandoned_payment' : \n               order.json.status === 'processing' ? 'sla_alert' : \n               'delivery_confirmation'\n}));\n\nreturn needsAction;"
      },
      "id": "filter-orders",
      "name": "Filter Orders Needing Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.actionType }}",
              "operation": "equals",
              "value2": "abandoned_payment"
            }
          ]
        }
      },
      "id": "check-action",
      "name": "Check Action Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/communication/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "genericAuthProperties": {
          "headers": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "type",
              "value": "order_abandoned_payment"
            },
            {
              "name": "title",
              "value": "Complete Your Order Payment"
            },
            {
              "name": "message",
              "value": "Your order for {{ $json.itemName }} is waiting for payment. Complete it now!"
            }
          ]
        },
        "options": {}
      },
      "id": "send-payment-nudge",
      "name": "Send Payment Nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/communication/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "genericAuthProperties": {
          "headers": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "type",
              "value": "order_delivery_confirmation"
            },
            {
              "name": "title",
              "value": "Confirm Delivery"
            },
            {
              "name": "message",
              "value": "Please confirm if you received your order for {{ $json.itemName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-delivery-confirm",
      "name": "Send Delivery Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Schedule - Every 2 Hours": {
      "main": [
        [
          {
            "node": "Get Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Orders": {
      "main": [
        [
          {
            "node": "Filter Orders Needing Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Orders Needing Action": {
      "main": [
        [
          {
            "node": "Check Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action Type": {
      "main": [
        [
          {
            "node": "Send Payment Nudge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Delivery Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

