n8n automations/user-registration-onboarding-automation.json
{
  "name": "User Registration & Onboarding Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - User Registration",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "user-registration"
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/auth/verify-code",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phoneNumber",
              "value": "={{ $json.body.phoneNumber }}"
            },
            {
              "name": "code",
              "value": "={{ $json.body.code }}"
            }
          ]
        },
        "options": {}
      },
      "id": "verify-code",
      "name": "Verify Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.redirect.destination }}",
              "operation": "equals",
              "value2": "onboarding"
            }
          ]
        }
      },
      "id": "check-onboarding",
      "name": "Needs Onboarding?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "genericAuthProperties": {
          "headers": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.user.email || $json.user.phoneNumber }}"
            },
            {
              "name": "subject",
              "value": "Welcome to LocalPro!"
            },
            {
              "name": "template",
              "value": "welcome"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ firstName: $json.user.firstName, referralCode: $json.user.referralCode }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $vars.BASE_URL }}/api/communication/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "genericAuthProperties": {
          "headers": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.user._id }}"
            },
            {
              "name": "type",
              "value": "welcome"
            },
            {
              "name": "title",
              "value": "Welcome to LocalPro!"
            },
            {
              "name": "message",
              "value": "Complete your profile to get started"
            }
          ]
        },
        "options": {}
      },
      "id": "create-notification",
      "name": "Create In-App Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'User registered successfully', userId: $json.user._id }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - User Registration": {
      "main": [
        [
          {
            "node": "Verify Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Code": {
      "main": [
        [
          {
            "node": "Needs Onboarding?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Onboarding?": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create In-App Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create In-App Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

