n8n-workflows/01-booking-reminders-automation.json
{
  "name": "LocalPro - Booking Reminders & Follow-ups",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/bookings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "confirmed"
              },
              {
                "name": "limit",
                "value": "100"
              }
            ]
          }
        }
      },
      "id": "get-confirmed-bookings",
      "name": "Get Confirmed Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-upcoming",
              "leftValue": "={{ $json.scheduledDate }}",
              "rightValue": "={{ $now.toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after",
                "singleValue": true
              }
            },
            {
              "id": "filter-24h",
              "leftValue": "={{ $json.scheduledDate }}",
              "rightValue": "={{ $now.plus({ hours: 24 }).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-24h-bookings",
      "name": "Filter 24h Bookings",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process each booking and prepare notification data\nconst items = $input.all();\nconst notifications = [];\n\nfor (const item of items) {\n  const booking = item.json;\n  \n  // Check if reminder already sent\n  if (!booking.reminderSent) {\n    notifications.push({\n      json: {\n        bookingId: booking._id || booking.id,\n        clientId: booking.client?._id || booking.clientId,\n        providerId: booking.provider?._id || booking.providerId,\n        serviceName: booking.service?.title || booking.serviceName,\n        scheduledDate: booking.scheduledDate,\n        scheduledTime: booking.scheduledTime,\n        clientName: booking.client?.firstName || 'Customer',\n        clientPhone: booking.client?.phoneNumber,\n        clientEmail: booking.client?.email,\n        providerName: booking.provider?.firstName || 'Provider',\n        providerPhone: booking.provider?.phoneNumber,\n        providerEmail: booking.provider?.email,\n        notificationType: 'booking_reminder_24h'\n      }\n    });\n  }\n}\n\nreturn notifications;"
      },
      "id": "prepare-notifications",
      "name": "Prepare Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-items",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.clientEmail }}"
            },
            {
              "name": "subject",
              "value": "Reminder: Your booking is tomorrow"
            },
            {
              "name": "template",
              "value": "booking-reminder"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ bookingId: $json.bookingId, serviceName: $json.serviceName, scheduledDate: $json.scheduledDate, scheduledTime: $json.scheduledTime }) }}"
            }
          ]
        }
      },
      "id": "send-email-reminder",
      "name": "Send Email Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.clientPhone }}"
            },
            {
              "name": "message",
              "value": "Reminder: Your {{ $json.serviceName }} booking is scheduled for tomorrow at {{ $json.scheduledTime }}. Please confirm your attendance."
            }
          ]
        }
      },
      "id": "send-sms-reminder",
      "name": "Send SMS Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/bookings/{{ $json.bookingId }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reminderSent",
              "value": "true"
            },
            {
              "name": "reminderSentAt",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "update-booking-reminder",
      "name": "Update Booking Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Get Confirmed Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Confirmed Bookings": {
      "main": [
        [
          {
            "node": "Filter 24h Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 24h Bookings": {
      "main": [
        [
          {
            "node": "Prepare Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notifications": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Send Email Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send SMS Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Reminder": {
      "main": [
        [
          {
            "node": "Update Booking Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Reminder": {
      "main": [
        [
          {
            "node": "Update Booking Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
