n8n-workflows/04-referral-processing-automation.json
{
  "name": "LocalPro - Referral Processing Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "referral-completed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Referral Completed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "referral-completed-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract referral data from webhook\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    referralId: webhook.referralId || webhook.referral?.id,\n    referrerId: webhook.referrerId || webhook.referrer?.id,\n    referredUserId: webhook.referredUserId || webhook.referredUser?.id,\n    rewardType: webhook.rewardType || 'credit',\n    rewardAmount: webhook.rewardAmount || 0,\n    referralCode: webhook.referralCode,\n    module: webhook.module || 'general'\n  }\n};"
      },
      "id": "extract-referral-data",
      "name": "Extract Referral Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/users/{{ $json.referrerId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            }
          ]
        }
      },
      "id": "get-referrer-info",
      "name": "Get Referrer Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/referrals/me",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "userId",
                "value": "={{ $('Extract Referral Data').first().json.referrerId }}"
              }
            ]
          }
        }
      },
      "id": "get-referral-stats",
      "name": "Get Referral Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "jsCode": "// Calculate new tier based on referral count\nconst referralData = $('Extract Referral Data').first().json;\nconst stats = $('Get Referral Stats').first().json;\nconst totalReferrals = stats.data?.totalReferrals || 0;\n\nlet newTier = 'bronze';\nif (totalReferrals >= 50) newTier = 'platinum';\nelse if (totalReferrals >= 25) newTier = 'gold';\nelse if (totalReferrals >= 10) newTier = 'silver';\n\nreturn {\n  json: {\n    ...referralData,\n    currentTier: stats.data?.tier || 'bronze',\n    newTier: newTier,\n    totalReferrals: totalReferrals,\n    tierUpgraded: newTier !== (stats.data?.tier || 'bronze')\n  }\n};"
      },
      "id": "calculate-tier",
      "name": "Calculate Tier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-tier-upgrade",
              "leftValue": "={{ $json.tierUpgraded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-tier-upgrade",
      "name": "Tier Upgraded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Get Referrer Info').first().json.email }}"
            },
            {
              "name": "subject",
              "value": "Congratulations! You've earned a reward"
            },
            {
              "name": "template",
              "value": "referral-reward"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ firstName: $('Get Referrer Info').first().json.firstName, rewardAmount: $('Extract Referral Data').first().json.rewardAmount, rewardType: $('Extract Referral Data').first().json.rewardType }) }}"
            }
          ]
        }
      },
      "id": "send-reward-email",
      "name": "Send Reward Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Get Referrer Info').first().json.email }}"
            },
            {
              "name": "subject",
              "value": "🎉 You've Reached {{ $('Calculate Tier').first().json.newTier }} Tier!"
            },
            {
              "name": "template",
              "value": "tier-upgrade"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ firstName: $('Get Referrer Info').first().json.firstName, newTier: $('Calculate Tier').first().json.newTier, totalReferrals: $('Calculate Tier').first().json.totalReferrals }) }}"
            }
          ]
        }
      },
      "id": "send-tier-upgrade-email",
      "name": "Send Tier Upgrade Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/referrals/leaderboard",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "limit",
                "value": "10"
              }
            ]
          }
        }
      },
      "id": "check-leaderboard",
      "name": "Check Leaderboard Position",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Referral Completed Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Referral Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Referral Data": {
      "main": [
        [
          {
            "node": "Get Referrer Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Referral Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Referrer Info": {
      "main": [
        [
          {
            "node": "Calculate Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Referral Stats": {
      "main": [
        [
          {
            "node": "Calculate Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Tier": {
      "main": [
        [
          {
            "node": "Check Tier Upgrade",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Reward Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier Upgraded?": {
      "main": [
        [
          {
            "node": "Send Tier Upgrade Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reward Email": {
      "main": [
        [
          {
            "node": "Check Leaderboard Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Tier Upgrade Email": {
      "main": [
        [
          {
            "node": "Check Leaderboard Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
