n8n-workflows/05-job-application-notifications.json
{
  "name": "LocalPro - Job Application Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-application",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Job Application Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "job-application-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract job application data\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    applicationId: webhook.applicationId || webhook.application?.id,\n    jobId: webhook.jobId || webhook.job?.id,\n    applicantId: webhook.applicantId || webhook.applicant?.id,\n    employerId: webhook.employerId || webhook.employer?.id,\n    status: webhook.status || 'pending',\n    jobTitle: webhook.job?.title || webhook.jobTitle,\n    applicantName: webhook.applicant?.firstName || 'Applicant',\n    applicantEmail: webhook.applicant?.email,\n    employerEmail: webhook.employer?.email\n  }\n};"
      },
      "id": "extract-application-data",
      "name": "Extract Application Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-new-application",
      "name": "Is New Application?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.employerEmail }}"
            },
            {
              "name": "subject",
              "value": "New Application for {{ $json.jobTitle }}"
            },
            {
              "name": "template",
              "value": "job-application-notification"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ jobTitle: $json.jobTitle, applicantName: $json.applicantName, applicationId: $json.applicationId }) }}"
            }
          ]
        }
      },
      "id": "notify-employer",
      "name": "Notify Employer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.applicantEmail }}"
            },
            {
              "name": "subject",
              "value": "Application Received - {{ $json.jobTitle }}"
            },
            {
              "name": "template",
              "value": "application-confirmation"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ applicantName: $json.applicantName, jobTitle: $json.jobTitle }) }}"
            }
          ]
        }
      },
      "id": "notify-applicant",
      "name": "Notify Applicant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status-update",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status-update",
      "name": "Is Status Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.applicantEmail }}"
            },
            {
              "name": "subject",
              "value": "Application Update - {{ $json.jobTitle }}"
            },
            {
              "name": "template",
              "value": "application-status-update"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ applicantName: $json.applicantName, jobTitle: $json.jobTitle, status: $json.status }) }}"
            }
          ]
        }
      },
      "id": "notify-status-update",
      "name": "Notify Status Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 7
            }
          ]
        }
      },
      "id": "weekly-digest",
      "name": "Weekly Digest Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/jobs/my-jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "active"
              }
            ]
          }
        }
      },
      "id": "get-active-jobs",
      "name": "Get Active Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 600]
    },
    {
      "parameters": {
        "jsCode": "// Get jobs with pending applications\nconst jobs = $input.all();\nconst jobsWithPendingApps = [];\n\nfor (const job of jobs) {\n  const jobData = job.json;\n  if (jobData.pendingApplications > 0) {\n    jobsWithPendingApps.push({\n      json: {\n        jobId: jobData._id || jobData.id,\n        jobTitle: jobData.title,\n        employerId: jobData.employer?._id || jobData.employerId,\n        employerEmail: jobData.employer?.email,\n        pendingApplications: jobData.pendingApplications\n      }\n    });\n  }\n}\n\nreturn jobsWithPendingApps;"
      },
      "id": "filter-pending-apps",
      "name": "Filter Pending Apps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.employerEmail }}"
            },
            {
              "name": "subject",
              "value": "Weekly Job Application Digest"
            },
            {
              "name": "template",
              "value": "job-digest"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ jobTitle: $json.jobTitle, pendingApplications: $json.pendingApplications }) }}"
            }
          ]
        }
      },
      "id": "send-digest",
      "name": "Send Weekly Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 600]
    }
  ],
  "connections": {
    "Job Application Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Application Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Application Data": {
      "main": [
        [
          {
            "node": "Is New Application?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Status Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Application?": {
      "main": [
        [
          {
            "node": "Notify Employer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Applicant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Status Update?": {
      "main": [
        [
          {
            "node": "Notify Status Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Digest Trigger": {
      "main": [
        [
          {
            "node": "Get Active Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Jobs": {
      "main": [
        [
          {
            "node": "Filter Pending Apps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Apps": {
      "main": [
        [
          {
            "node": "Send Weekly Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
