n8n-workflows/06-subscription-management.json
{
  "name": "LocalPro - Subscription Management",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "daily-check",
      "name": "Daily Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/localpro-plus/analytics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "active"
              }
            ]
          }
        }
      },
      "id": "get-active-subscriptions",
      "name": "Get Active Subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter subscriptions expiring soon\nconst subscriptions = $input.all();\nconst expiringSoon = [];\nconst expired = [];\n\nfor (const sub of subscriptions) {\n  const subData = sub.json;\n  const endDate = new Date(subData.endDate || subData.expiresAt);\n  const now = new Date();\n  const daysUntilExpiry = Math.ceil((endDate - now) / (1000 * 60 * 60 * 24));\n  \n  if (daysUntilExpiry < 0) {\n    expired.push({\n      json: {\n        ...subData,\n        daysUntilExpiry: daysUntilExpiry\n      }\n    });\n  } else if (daysUntilExpiry <= 7) {\n    expiringSoon.push({\n      json: {\n        ...subData,\n        daysUntilExpiry: daysUntilExpiry\n      }\n    });\n  }\n}\n\nreturn { expiringSoon, expired };"
      },
      "id": "filter-expiring",
      "name": "Filter Expiring Subscriptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.user?.email }}"
            },
            {
              "name": "subject",
              "value": "Your LocalPro Plus subscription expires in {{ $json.daysUntilExpiry }} days"
            },
            {
              "name": "template",
              "value": "subscription-expiring"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ firstName: $json.user?.firstName, planName: $json.plan?.name, daysUntilExpiry: $json.daysUntilExpiry, endDate: $json.endDate }) }}"
            }
          ]
        }
      },
      "id": "notify-expiring",
      "name": "Notify Expiring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/localpro-plus/cancel",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { subscriptionId: $json._id || $json.id, reason: 'expired' } }}"
      },
      "id": "cancel-expired",
      "name": "Cancel Expired",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.user?.email }}"
            },
            {
              "name": "subject",
              "value": "Your LocalPro Plus subscription has expired"
            },
            {
              "name": "template",
              "value": "subscription-expired"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ firstName: $json.user?.firstName, planName: $json.plan?.name }) }}"
            }
          ]
        }
      },
      "id": "notify-expired",
      "name": "Notify Expired",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subscription-payment-failed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "payment-failed-webhook",
      "name": "Payment Failed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 600],
      "webhookId": "payment-failed-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}"
      },
      "id": "webhook-response-2",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.user?.email }}"
            },
            {
              "name": "subject",
              "value": "Payment Failed - Update Your Payment Method"
            },
            {
              "name": "template",
              "value": "payment-failed"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ firstName: $json.user?.firstName, planName: $json.plan?.name, retryDate: $json.nextRetryDate }) }}"
            }
          ]
        }
      },
      "id": "notify-payment-failed",
      "name": "Notify Payment Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 600]
    }
  ],
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Get Active Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Subscriptions": {
      "main": [
        [
          {
            "node": "Filter Expiring Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Expiring Subscriptions": {
      "main": [
        [
          {
            "node": "Notify Expiring",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cancel Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Expired": {
      "main": [
        [
          {
            "node": "Notify Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Failed Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Payment Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
