n8n-workflows/07-email-marketing-campaign.json
{
  "name": "LocalPro - Email Marketing Campaign",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/email-marketing/campaigns",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "scheduled"
              }
            ]
          }
        }
      },
      "id": "get-scheduled-campaigns",
      "name": "Get Scheduled Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter campaigns ready to send\nconst campaigns = $input.all();\nconst readyCampaigns = [];\nconst now = new Date();\n\nfor (const campaign of campaigns) {\n  const campData = campaign.json;\n  const scheduledDate = new Date(campData.scheduledDate || campData.sendAt);\n  \n  if (scheduledDate <= now && campData.status === 'scheduled') {\n    readyCampaigns.push({\n      json: campData\n    });\n  }\n}\n\nreturn readyCampaigns;"
      },
      "id": "filter-ready-campaigns",
      "name": "Filter Ready Campaigns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-campaigns",
      "name": "Split Campaigns",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/email-marketing/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "segment",
                "value": "={{ $json.segment }}"
              },
              {
                "name": "status",
                "value": "active"
              },
              {
                "name": "limit",
                "value": "1000"
              }
            ]
          }
        }
      },
      "id": "get-subscribers",
      "name": "Get Subscribers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "batch-subscribers",
      "name": "Batch Subscribers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { to: $json.email, subject: $('Split Campaigns').first().json.subject, template: $('Split Campaigns').first().json.template, data: $('Split Campaigns').first().json.data } }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/email-marketing/campaigns/{{ $('Split Campaigns').first().json._id || $('Split Campaigns').first().json.id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'sent', sentAt: new Date().toISOString() } }}"
      },
      "id": "update-campaign-status",
      "name": "Update Campaign Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get Scheduled Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scheduled Campaigns": {
      "main": [
        [
          {
            "node": "Filter Ready Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Campaigns": {
      "main": [
        [
          {
            "node": "Split Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaigns": {
      "main": [
        [
          {
            "node": "Get Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Subscribers": {
      "main": [
        [
          {
            "node": "Batch Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Subscribers": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update Campaign Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
