n8n-workflows/09-provider-verification-automation.json
{
  "name": "LocalPro - Provider Verification Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "provider-verification-submitted",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Verification Submitted Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "provider-verification-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract verification data\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    verificationId: webhook.verificationId || webhook.verification?.id,\n    providerId: webhook.providerId || webhook.provider?.id,\n    verificationType: webhook.verificationType || webhook.type,\n    status: webhook.status || 'pending',\n    documents: webhook.documents || [],\n    providerEmail: webhook.provider?.email,\n    providerName: webhook.provider?.firstName || 'Provider'\n  }\n};"
      },
      "id": "extract-verification-data",
      "name": "Extract Verification Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.providerEmail }}"
            },
            {
              "name": "subject",
              "value": "Verification Request Received"
            },
            {
              "name": "template",
              "value": "verification-submitted"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ providerName: $json.providerName, verificationType: $json.verificationType }) }}"
            }
          ]
        }
      },
      "id": "notify-provider-submitted",
      "name": "Notify Provider Submitted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "admin@localpro.com"
            },
            {
              "name": "subject",
              "value": "New Verification Request - {{ $json.verificationType }}"
            },
            {
              "name": "template",
              "value": "admin-verification-alert"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ providerName: $json.providerName, verificationType: $json.verificationType, verificationId: $json.verificationId }) }}"
            }
          ]
        }
      },
      "id": "notify-admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verification-reviewed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "review-webhook",
      "name": "Verification Reviewed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 600],
      "webhookId": "verification-reviewed-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}"
      },
      "id": "webhook-response-2",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 600]
    },
    {
      "parameters": {
        "jsCode": "// Extract review data\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    verificationId: webhook.verificationId || webhook.verification?.id,\n    providerId: webhook.providerId || webhook.provider?.id,\n    status: webhook.status || 'pending',\n    reviewNotes: webhook.reviewNotes || webhook.notes,\n    providerEmail: webhook.provider?.email,\n    providerName: webhook.provider?.firstName || 'Provider'\n  }\n};"
      },
      "id": "extract-review-data",
      "name": "Extract Review Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-approved",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-approved",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.providerEmail }}"
            },
            {
              "name": "subject",
              "value": "🎉 Verification Approved!"
            },
            {
              "name": "template",
              "value": "verification-approved"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ providerName: $json.providerName }) }}"
            }
          ]
        }
      },
      "id": "notify-approved",
      "name": "Notify Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOCALPRO_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.providerEmail }}"
            },
            {
              "name": "subject",
              "value": "Verification Request Needs Attention"
            },
            {
              "name": "template",
              "value": "verification-rejected"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ providerName: $json.providerName, reviewNotes: $json.reviewNotes }) }}"
            }
          ]
        }
      },
      "id": "notify-rejected",
      "name": "Notify Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 700]
    }
  ],
  "connections": {
    "Verification Submitted Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Verification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Verification Data": {
      "main": [
        [
          {
            "node": "Notify Provider Submitted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verification Reviewed Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Review Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Review Data": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "Notify Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
