n8n-workflows/11-client-booking-via-email.json
{
  "name": "LocalPro - Client Booking via Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-booking-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Booking Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "client-booking-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\", \"message\": \"Booking request received. We will process it shortly.\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract booking request data\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    clientEmail: webhook.email || webhook.clientEmail,\n    clientPhone: webhook.phone || webhook.clientPhone,\n    clientName: webhook.name || webhook.clientName,\n    serviceId: webhook.serviceId,\n    serviceName: webhook.serviceName || webhook.service,\n    providerId: webhook.providerId,\n    scheduledDate: webhook.scheduledDate || webhook.date,\n    scheduledTime: webhook.scheduledTime || webhook.time,\n    address: webhook.address,\n    notes: webhook.notes || webhook.message,\n    source: webhook.source || 'email'\n  }\n};"
      },
      "id": "extract-booking-data",
      "name": "Extract Booking Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "email",
                "value": "={{ $json.clientEmail }}"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          }
        }
      },
      "id": "find-or-create-user",
      "name": "Find or Create User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-user-exists",
              "leftValue": "={{ $json.data?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "user-exists",
      "name": "User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { email: $('Extract Booking Data').first().json.clientEmail, phoneNumber: $('Extract Booking Data').first().json.clientPhone, firstName: $('Extract Booking Data').first().json.clientName?.split(' ')[0] || 'Client', lastName: $('Extract Booking Data').first().json.clientName?.split(' ').slice(1).join(' ') || '', role: 'client' } }}"
      },
      "id": "create-user",
      "name": "Create User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "// Get user ID from either existing or created user\nconst extractData = $('Extract Booking Data').first().json;\nlet userId;\n\nif ($('User Exists?').first().json.data?.length > 0) {\n  userId = $('User Exists?').first().json.data[0]._id || $('User Exists?').first().json.data[0].id;\n} else {\n  userId = $('Create User').first().json.data?._id || $('Create User').first().json.data?.id;\n}\n\nreturn {\n  json: {\n    ...extractData,\n    userId: userId\n  }\n};"
      },
      "id": "prepare-booking",
      "name": "Prepare Booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/services/{{ $json.serviceId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        }
      },
      "id": "get-service-details",
      "name": "Get Service Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { serviceId: $('Prepare Booking').first().json.serviceId, providerId: $('Prepare Booking').first().json.providerId || $('Get Service Details').first().json.data?.provider?._id, scheduledDate: $('Prepare Booking').first().json.scheduledDate, scheduledTime: $('Prepare Booking').first().json.scheduledTime, address: $('Prepare Booking').first().json.address, notes: $('Prepare Booking').first().json.notes, source: $('Prepare Booking').first().json.source } }}"
      },
      "id": "create-booking",
      "name": "Create Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Extract Booking Data').first().json.clientEmail }}"
            },
            {
              "name": "subject",
              "value": "Booking Confirmation - {{ $('Get Service Details').first().json.data?.title }}"
            },
            {
              "name": "template",
              "value": "booking-confirmation"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ bookingId: $('Create Booking').first().json.data?._id, serviceName: $('Get Service Details').first().json.data?.title, scheduledDate: $('Prepare Booking').first().json.scheduledDate, scheduledTime: $('Prepare Booking').first().json.scheduledTime, address: $('Prepare Booking').first().json.address }) }}"
            }
          ]
        }
      },
      "id": "send-confirmation",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Booking Request Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Booking Data": {
      "main": [
        [
          {
            "node": "Find or Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find or Create User": {
      "main": [
        [
          {
            "node": "User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists?": {
      "main": [
        [
          {
            "node": "Prepare Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User": {
      "main": [
        [
          {
            "node": "Prepare Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Booking": {
      "main": [
        [
          {
            "node": "Get Service Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Service Details": {
      "main": [
        [
          {
            "node": "Create Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Booking": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
