n8n-workflows/12-client-service-discovery.json
{
  "name": "LocalPro - Client Service Discovery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "service-inquiry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Service Inquiry Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "service-inquiry-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\", \"message\": \"We'll send you service recommendations shortly.\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract inquiry data\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    clientEmail: webhook.email || webhook.clientEmail,\n    clientPhone: webhook.phone || webhook.clientPhone,\n    clientName: webhook.name || webhook.clientName,\n    serviceCategory: webhook.category || webhook.serviceCategory,\n    location: webhook.location || webhook.address,\n    budget: webhook.budget,\n    preferredDate: webhook.preferredDate || webhook.date,\n    notes: webhook.notes || webhook.message\n  }\n};"
      },
      "id": "extract-inquiry-data",
      "name": "Extract Inquiry Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/maps/geocode",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { address: $json.location } }}"
      },
      "id": "geocode-location",
      "name": "Geocode Location",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/services/nearby",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "latitude",
                "value": "={{ $('Geocode Location').first().json.data?.latitude }}"
              },
              {
                "name": "longitude",
                "value": "={{ $('Geocode Location').first().json.data?.longitude }}"
              },
              {
                "name": "radius",
                "value": "10"
              },
              {
                "name": "category",
                "value": "={{ $('Extract Inquiry Data').first().json.serviceCategory }}"
              },
              {
                "name": "limit",
                "value": "5"
              }
            ]
          }
        }
      },
      "id": "find-nearby-services",
      "name": "Find Nearby Services",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format service recommendations\nconst services = $('Find Nearby Services').first().json.data || [];\nconst inquiry = $('Extract Inquiry Data').first().json;\n\nconst recommendations = services.map(service => ({\n  serviceId: service._id || service.id,\n  title: service.title,\n  providerName: service.provider?.firstName || 'Provider',\n  price: service.pricing?.basePrice || service.pricing?.hourlyRate,\n  rating: service.rating || 0,\n  distance: service.distance || 0,\n  description: service.description?.substring(0, 100) + '...'\n}));\n\nreturn {\n  json: {\n    ...inquiry,\n    recommendations: recommendations,\n    totalFound: services.length\n  }\n};"
      },
      "id": "format-recommendations",
      "name": "Format Recommendations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.clientEmail }}"
            },
            {
              "name": "subject",
              "value": "Service Recommendations for {{ $json.serviceCategory }}"
            },
            {
              "name": "template",
              "value": "service-recommendations"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ clientName: $json.clientName, serviceCategory: $json.serviceCategory, recommendations: $json.recommendations, totalFound: $json.totalFound, location: $json.location }) }}"
            }
          ]
        }
      },
      "id": "send-recommendations",
      "name": "Send Recommendations Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Service Inquiry Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Inquiry Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Inquiry Data": {
      "main": [
        [
          {
            "node": "Geocode Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geocode Location": {
      "main": [
        [
          {
            "node": "Find Nearby Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Nearby Services": {
      "main": [
        [
          {
            "node": "Format Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Recommendations": {
      "main": [
        [
          {
            "node": "Send Recommendations Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
