n8n-workflows/13-client-booking-management.json
{
  "name": "LocalPro - Client Booking Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manage-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Booking Management Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "manage-booking-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract management request\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    action: webhook.action || 'view', // view, cancel, reschedule, update\n    bookingId: webhook.bookingId,\n    clientEmail: webhook.email || webhook.clientEmail,\n    clientPhone: webhook.phone || webhook.clientPhone,\n    newDate: webhook.newDate,\n    newTime: webhook.newTime,\n    reason: webhook.reason || webhook.notes\n  }\n};"
      },
      "id": "extract-request",
      "name": "Extract Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/bookings/{{ $json.bookingId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        }
      },
      "id": "get-booking",
      "name": "Get Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-action",
              "leftValue": "={{ $('Extract Request').first().json.action }}",
              "rightValue": "cancel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-action",
      "name": "Check Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1050, 300],
      "parameters": {
        "value": "={{ $('Extract Request').first().json.action }}",
        "options": {
          "rules": {
            "values": [
              {
                "value": "cancel",
                "output": 0
              },
              {
                "value": "reschedule",
                "output": 1
              },
              {
                "value": "view",
                "output": 2
              }
            ]
          }
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/bookings/{{ $('Extract Request').first().json.bookingId }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'cancelled', cancellationReason: $('Extract Request').first().json.reason } }}"
      },
      "id": "cancel-booking",
      "name": "Cancel Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/bookings/{{ $('Extract Request').first().json.bookingId }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { scheduledDate: $('Extract Request').first().json.newDate, scheduledTime: $('Extract Request').first().json.newTime, notes: 'Rescheduled by client via email/SMS' } }}"
      },
      "id": "reschedule-booking",
      "name": "Reschedule Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Extract Request').first().json.clientEmail }}"
            },
            {
              "name": "subject",
              "value": "={{ $('Extract Request').first().json.action === 'cancel' ? 'Booking Cancelled' : $('Extract Request').first().json.action === 'reschedule' ? 'Booking Rescheduled' : 'Booking Details' }}"
            },
            {
              "name": "template",
              "value": "={{ $('Extract Request').first().json.action === 'cancel' ? 'booking-cancelled' : $('Extract Request').first().json.action === 'reschedule' ? 'booking-rescheduled' : 'booking-details' }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ bookingId: $('Get Booking').first().json.data?._id, action: $('Extract Request').first().json.action, bookingDetails: $('Get Booking').first().json.data }) }}"
            }
          ]
        }
      },
      "id": "send-update",
      "name": "Send Update Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Booking Management Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Request": {
      "main": [
        [
          {
            "node": "Get Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking": {
      "main": [
        [
          {
            "node": "Check Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action": {
      "main": [
        [
          {
            "node": "Cancel Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reschedule Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Update Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Booking": {
      "main": [
        [
          {
            "node": "Send Update Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Booking": {
      "main": [
        [
          {
            "node": "Send Update Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
