n8n-workflows/14-client-payment-processing.json
{
  "name": "LocalPro - Client Payment Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Payment Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "payment-request-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\", \"message\": \"Payment request received\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract payment data\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    bookingId: webhook.bookingId,\n    clientEmail: webhook.email || webhook.clientEmail,\n    clientPhone: webhook.phone || webhook.clientPhone,\n    amount: webhook.amount,\n    paymentMethod: webhook.paymentMethod || 'paypal', // paypal, paymaya\n    returnUrl: webhook.returnUrl || webhook.return_url,\n    cancelUrl: webhook.cancelUrl || webhook.cancel_url\n  }\n};"
      },
      "id": "extract-payment-data",
      "name": "Extract Payment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/bookings/{{ $json.bookingId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        }
      },
      "id": "get-booking",
      "name": "Get Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-payment-method",
              "leftValue": "={{ $('Extract Payment Data').first().json.paymentMethod }}",
              "rightValue": "paypal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-payment-method",
      "name": "Payment Method?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1050, 300],
      "parameters": {
        "value": "={{ $('Extract Payment Data').first().json.paymentMethod }}",
        "options": {
          "rules": {
            "values": [
              {
                "value": "paypal",
                "output": 0
              },
              {
                "value": "paymaya",
                "output": 1
              }
            ]
          }
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/bookings/paypal/approve",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { bookingId: $('Extract Payment Data').first().json.bookingId, amount: $('Extract Payment Data').first().json.amount || $('Get Booking').first().json.data?.totalAmount, returnUrl: $('Extract Payment Data').first().json.returnUrl, cancelUrl: $('Extract Payment Data').first().json.cancelUrl } }}"
      },
      "id": "create-paypal-payment",
      "name": "Create PayPal Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/paymaya/checkout",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { bookingId: $('Extract Payment Data').first().json.bookingId, amount: $('Extract Payment Data').first().json.amount || $('Get Booking').first().json.data?.totalAmount, returnUrl: $('Extract Payment Data').first().json.returnUrl, cancelUrl: $('Extract Payment Data').first().json.cancelUrl } }}"
      },
      "id": "create-paymaya-payment",
      "name": "Create PayMaya Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Extract Payment Data').first().json.clientEmail }}"
            },
            {
              "name": "subject",
              "value": "Complete Your Payment"
            },
            {
              "name": "template",
              "value": "payment-link"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ bookingId: $('Extract Payment Data').first().json.bookingId, paymentUrl: $('Create PayPal Payment').first().json.data?.approvalUrl || $('Create PayMaya Payment').first().json.data?.checkoutUrl, amount: $('Extract Payment Data').first().json.amount, paymentMethod: $('Extract Payment Data').first().json.paymentMethod }) }}"
            }
          ]
        }
      },
      "id": "send-payment-link",
      "name": "Send Payment Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Payment Request Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Payment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Payment Data": {
      "main": [
        [
          {
            "node": "Get Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking": {
      "main": [
        [
          {
            "node": "Payment Method?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Method?": {
      "main": [
        [
          {
            "node": "Create PayPal Payment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create PayMaya Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PayPal Payment": {
      "main": [
        [
          {
            "node": "Send Payment Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PayMaya Payment": {
      "main": [
        [
          {
            "node": "Send Payment Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
