n8n-workflows/16-client-weekly-digest.json
{
  "name": "LocalPro - Client Weekly Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 7
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "role",
                "value": "client"
              },
              {
                "name": "isActive",
                "value": "true"
              },
              {
                "name": "limit",
                "value": "100"
              }
            ]
          }
        }
      },
      "id": "get-active-clients",
      "name": "Get Active Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-clients",
      "name": "Split Clients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "userId",
                "value": "={{ $json._id || $json.id }}"
              },
              {
                "name": "limit",
                "value": "5"
              }
            ]
          }
        }
      },
      "id": "get-recent-bookings",
      "name": "Get Recent Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/services",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "featured",
                "value": "true"
              },
              {
                "name": "limit",
                "value": "5"
              }
            ]
          }
        }
      },
      "id": "get-featured-services",
      "name": "Get Featured Services",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "jsCode": "// Compile digest data\nconst client = $('Split Clients').first().json;\nconst bookings = $('Get Recent Bookings').first().json.data || [];\nconst services = $('Get Featured Services').first().json.data || [];\n\nreturn {\n  json: {\n    clientId: client._id || client.id,\n    clientEmail: client.email,\n    clientName: client.firstName || 'Client',\n    recentBookings: bookings.slice(0, 5),\n    featuredServices: services.slice(0, 5),\n    totalBookings: bookings.length\n  }\n};"
      },
      "id": "compile-digest",
      "name": "Compile Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.clientEmail }}"
            },
            {
              "name": "subject",
              "value": "Your Weekly LocalPro Digest"
            },
            {
              "name": "template",
              "value": "weekly-digest"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ clientName: $json.clientName, recentBookings: $json.recentBookings, featuredServices: $json.featuredServices, totalBookings: $json.totalBookings }) }}"
            }
          ]
        }
      },
      "id": "send-digest",
      "name": "Send Weekly Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clients": {
      "main": [
        [
          {
            "node": "Split Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Clients": {
      "main": [
        [
          {
            "node": "Get Recent Bookings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Featured Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Bookings": {
      "main": [
        [
          {
            "node": "Compile Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Featured Services": {
      "main": [
        [
          {
            "node": "Compile Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Digest": {
      "main": [
        [
          {
            "node": "Send Weekly Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
