n8n-workflows/18-client-profile-update.json
{
  "name": "LocalPro - Client Profile Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Profile Update Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "profile-update-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract profile update data\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    clientEmail: webhook.email || webhook.clientEmail,\n    clientPhone: webhook.phone || webhook.clientPhone,\n    firstName: webhook.firstName || webhook.first_name,\n    lastName: webhook.lastName || webhook.last_name,\n    address: webhook.address,\n    preferences: webhook.preferences,\n    updateFields: Object.keys(webhook).filter(key => !['email', 'clientEmail'].includes(key))\n  }\n};"
      },
      "id": "extract-profile-data",
      "name": "Extract Profile Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "email",
                "value": "={{ $json.clientEmail }}"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          }
        }
      },
      "id": "find-user",
      "name": "Find User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/users/{{ $('Find User').first().json.data[0]._id || $('Find User').first().json.data[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { firstName: $('Extract Profile Data').first().json.firstName, lastName: $('Extract Profile Data').first().json.lastName, phoneNumber: $('Extract Profile Data').first().json.clientPhone, profile: { address: $('Extract Profile Data').first().json.address }, preferences: $('Extract Profile Data').first().json.preferences } }}"
      },
      "id": "update-profile",
      "name": "Update Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Extract Profile Data').first().json.clientEmail }}"
            },
            {
              "name": "subject",
              "value": "Profile Updated Successfully"
            },
            {
              "name": "template",
              "value": "profile-updated"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ updatedFields: $('Extract Profile Data').first().json.updateFields }) }}"
            }
          ]
        }
      },
      "id": "confirm-update",
      "name": "Confirm Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Profile Update Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Profile Data": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User": {
      "main": [
        [
          {
            "node": "Update Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Profile": {
      "main": [
        [
          {
            "node": "Confirm Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
