n8n-workflows/20-client-service-search-api.json
{
  "name": "LocalPro - Client Service Search API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "search-services",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Service Search Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "service-search-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract search parameters from query or body\nconst query = $input.first().json.query || {};\nconst body = $input.first().json.body || {};\n\nreturn {\n  json: {\n    search: query.q || query.search || body.search || '',\n    category: query.category || body.category,\n    location: query.location || body.location,\n    latitude: query.lat || query.latitude || body.latitude,\n    longitude: query.lng || query.longitude || body.longitude,\n    minPrice: query.minPrice || body.minPrice,\n    maxPrice: query.maxPrice || body.maxPrice,\n    rating: query.rating || body.rating,\n    limit: query.limit || body.limit || 10,\n    page: query.page || body.page || 1\n  }\n};"
      },
      "id": "extract-search-params",
      "name": "Extract Search Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-location",
              "leftValue": "={{ $json.latitude && $json.longitude }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-location",
      "name": "Has Location?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/services/nearby",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "latitude",
                "value": "={{ $json.latitude }}"
              },
              {
                "name": "longitude",
                "value": "={{ $json.longitude }}"
              },
              {
                "name": "radius",
                "value": "10"
              },
              {
                "name": "category",
                "value": "={{ $json.category }}"
              },
              {
                "name": "search",
                "value": "={{ $json.search }}"
              },
              {
                "name": "limit",
                "value": "={{ $json.limit }}"
              }
            ]
          }
        }
      },
      "id": "search-nearby",
      "name": "Search Nearby",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/marketplace/services",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "search",
                "value": "={{ $json.search }}"
              },
              {
                "name": "category",
                "value": "={{ $json.category }}"
              },
              {
                "name": "minPrice",
                "value": "={{ $json.minPrice }}"
              },
              {
                "name": "maxPrice",
                "value": "={{ $json.maxPrice }}"
              },
              {
                "name": "limit",
                "value": "={{ $json.limit }}"
              },
              {
                "name": "page",
                "value": "={{ $json.page }}"
              }
            ]
          }
        }
      },
      "id": "search-services",
      "name": "Search Services",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "return-results",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Service Search Webhook": {
      "main": [
        [
          {
            "node": "Extract Search Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Search Params": {
      "main": [
        [
          {
            "node": "Has Location?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Location?": {
      "main": [
        [
          {
            "node": "Search Nearby",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Nearby": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Services": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
