n8n-workflows/21-ai-bot-human-escalation.json
{
  "name": "LocalPro - AI Bot Human Escalation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "human-escalation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Human Escalation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "human-escalation-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\", \"message\": \"Escalation received and being processed.\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract escalation data\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    eventId: webhook.eventId,\n    reason: webhook.reason || webhook.escalationReason,\n    priority: webhook.priority || 'medium', // low, medium, high, critical\n    eventData: webhook.eventData || {},\n    context: webhook.context || {},\n    interactionId: webhook.interactionId,\n    timestamp: webhook.timestamp || new Date().toISOString()\n  }\n};"
      },
      "id": "extract-escalation-data",
      "name": "Extract Escalation Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-priority",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-priority",
      "name": "Check Priority",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  userId: $env.ADMIN_USER_ID,\n  type: 'escalation',\n  title: 'AI Bot Escalation - ' + $json.priority.toUpperCase(),\n  message: 'Event ID: ' + $json.eventId + '\\nReason: ' + $json.reason + '\\nPriority: ' + $json.priority,\n  data: {\n    eventId: $json.eventId,\n    reason: $json.reason,\n    priority: $json.priority,\n    eventData: $json.eventData\n  },\n  priority: $json.priority\n} }}"
      },
      "id": "notify-admin-critical",
      "name": "Notify Admin (Critical)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  userId: $env.ADMIN_USER_ID,\n  type: 'escalation',\n  title: 'AI Bot Escalation - ' + $json.priority.toUpperCase(),\n  message: 'Event ID: ' + $json.eventId + '\\nReason: ' + $json.reason + '\\nPriority: ' + $json.priority,\n  data: {\n    eventId: $json.eventId,\n    reason: $json.reason,\n    priority: $json.priority,\n    eventData: $json.eventData\n  },\n  priority: $json.priority\n} }}"
      },
      "id": "notify-admin-normal",
      "name": "Notify Admin (Normal)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/communication/notifications/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  to: $env.ADMIN_EMAIL,\n  subject: 'AI Bot Escalation - ' + $json.priority.toUpperCase() + ' Priority',\n  template: 'escalation-alert',\n  data: {\n    eventId: $json.eventId,\n    reason: $json.reason,\n    priority: $json.priority,\n    eventData: JSON.stringify($json.eventData, null, 2),\n    timestamp: $json.timestamp\n  }\n} }}"
      },
      "id": "send-email-alert",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/ai-bot/interactions/{{ $json.eventId }}/escalate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  eventId: $json.eventId,\n  reason: $json.reason,\n  priority: $json.priority,\n  escalatedAt: new Date().toISOString()\n} }}"
      },
      "id": "update-escalation-status",
      "name": "Update Escalation Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Human Escalation Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Escalation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Escalation Data": {
      "main": [
        [
          {
            "node": "Check Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Priority": {
      "main": [
        [
          {
            "node": "Notify Admin (Critical)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin (Normal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin (Critical)": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin (Normal)": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Update Escalation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Escalation Status": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-02T00:00:00.000Z",
  "versionId": "1"
}
