n8n-workflows/22-ai-bot-event-processor.json
{
  "name": "LocalPro - AI Bot Event Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-bot-event",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "AI Bot Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "ai-bot-event-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\", \"message\": \"Event received for processing.\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate event data\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    eventId: webhook.eventId || webhook.id,\n    type: webhook.type,\n    source: webhook.source,\n    data: webhook.data || {},\n    context: webhook.context || {},\n    timestamp: webhook.timestamp || new Date().toISOString(),\n    intent: webhook.intent,\n    subAgent: webhook.subAgent\n  }\n};"
      },
      "id": "extract-event-data",
      "name": "Extract Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.intent }}",
                "operation": "equals",
                "value2": "booking_management"
              },
              {
                "value1": "={{ $json.intent }}",
                "operation": "equals",
                "value2": "payment_processing"
              },
              {
                "value1": "={{ $json.intent }}",
                "operation": "equals",
                "value2": "provider_operations"
              },
              {
                "value1": "={{ $json.intent }}",
                "operation": "equals",
                "value2": "escrow_management"
              },
              {
                "value1": "={{ $json.intent }}",
                "operation": "equals",
                "value2": "support_request"
              }
            ]
          }
        },
        "options": {}
      },
      "id": "route-by-intent",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/ai-bot/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  type: $json.type,\n  source: $json.source,\n  data: $json.data,\n  context: $json.context\n} }}"
      },
      "id": "process-booking-event",
      "name": "Process Booking Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/ai-bot/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  type: $json.type,\n  source: $json.source,\n  data: $json.data,\n  context: $json.context\n} }}"
      },
      "id": "process-payment-event",
      "name": "Process Payment Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/ai-bot/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  type: $json.type,\n  source: $json.source,\n  data: $json.data,\n  context: $json.context\n} }}"
      },
      "id": "process-provider-event",
      "name": "Process Provider Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/ai-bot/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  type: $json.type,\n  source: $json.source,\n  data: $json.data,\n  context: $json.context\n} }}"
      },
      "id": "process-escrow-event",
      "name": "Process Escrow Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/ai-bot/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  type: $json.type,\n  source: $json.source,\n  data: $json.data,\n  context: $json.context\n} }}"
      },
      "id": "process-support-event",
      "name": "Process Support Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/ai-bot/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  type: $json.type,\n  source: $json.source,\n  data: $json.data,\n  context: $json.context\n} }}"
      },
      "id": "process-default-event",
      "name": "Process Default Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 600]
    }
  ],
  "connections": {
    "AI Bot Event Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Event Data": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Process Booking Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Payment Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Provider Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Escrow Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Support Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Default Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-02T00:00:00.000Z",
  "versionId": "1"
}
