n8n-workflows/24-ai-bot-guest-chat-support.json
{
  "name": "LocalPro - AI Bot Guest Chat Support",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guest-chat-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Guest Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400],
      "webhookId": "guest-chat-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"processing\", \"message\": \"Your message is being processed.\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract chat message data\nconst webhook = $input.first().json;\n\nreturn {\n  json: {\n    sessionId: webhook.sessionId,\n    messageId: webhook.messageId || `msg_${Date.now()}`,\n    content: webhook.content || webhook.message,\n    user: webhook.user || {},\n    timestamp: webhook.timestamp || new Date().toISOString(),\n    metadata: webhook.metadata || {},\n    isGuest: webhook.isGuest !== false, // Default to true for guest chat\n    context: webhook.context || {}\n  }\n};"
      },
      "id": "extract-chat-data",
      "name": "Extract Chat Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/live-chat/sessions/{{ $json.sessionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-session",
      "name": "Get Chat Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "jsCode": "// Merge session data with chat message\nconst session = $input.first().json.data || $input.first().json;\nconst chatData = $('Extract Chat Data').first().json;\n\nreturn {\n  json: {\n    ...chatData,\n    session: {\n      sessionId: session.sessionId || chatData.sessionId,\n      status: session.status,\n      priority: session.priority,\n      department: session.department,\n      messageCount: session.messageCount || 0,\n      user: session.user || chatData.user\n    },\n    conversationHistory: session.messages || []\n  }\n};"
      },
      "id": "merge-session-data",
      "name": "Merge Session Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/live-chat/sessions/{{ $json.sessionId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  sessionId: $json.sessionId,\n  type: 'user',\n  content: $json.content,\n  metadata: $json.metadata\n} }}"
      },
      "id": "save-user-message",
      "name": "Save User Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/ai-bot/classify-intent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  message: $json.content,\n  context: {\n    sessionId: $json.sessionId,\n    isGuest: $json.isGuest,\n    user: $json.user,\n    conversationHistory: $json.conversationHistory.slice(-5), // Last 5 messages\n    sessionMetadata: $json.session\n  },\n  source: 'guest_chat'\n} }}"
      },
      "id": "classify-intent",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract intent classification result\nconst intentResult = $input.first().json.data || $input.first().json;\nconst chatData = $('Merge Session Data').first().json;\n\nreturn {\n  json: {\n    ...chatData,\n    intent: intentResult.intent || 'general_inquiry',\n    confidence: intentResult.confidence || 0.5,\n    requiresEscalation: intentResult.requiresEscalation || false,\n    escalationReason: intentResult.escalationReason,\n    suggestedResponse: intentResult.suggestedResponse,\n    subAgent: intentResult.subAgent || 'guest_support'\n  }\n};"
      },
      "id": "extract-intent",
      "name": "Extract Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-escalation",
              "leftValue": "={{ $json.requiresEscalation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-escalation-needed",
      "name": "Check Escalation Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL }}/webhook/human-escalation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  eventId: $json.messageId,\n  reason: $json.escalationReason || 'Guest chat requires human support',\n  priority: $json.session.priority || 'medium',\n  eventData: {\n    sessionId: $json.sessionId,\n    message: $json.content,\n    intent: $json.intent,\n    confidence: $json.confidence,\n    user: $json.user,\n    isGuest: $json.isGuest\n  },\n  context: {\n    sessionId: $json.sessionId,\n    messageId: $json.messageId,\n    source: 'guest_chat'\n  },\n  interactionId: $json.sessionId\n} }}"
      },
      "id": "trigger-escalation",
      "name": "Trigger Escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/live-chat/sessions/{{ $json.sessionId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  sessionId: $json.sessionId,\n  type: 'system',\n  content: 'Your request has been escalated to our support team. A human agent will be with you shortly.',\n  agentName: 'AI Assistant'\n} }}"
      },
      "id": "send-escalation-message",
      "name": "Send Escalation Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/ai-bot/generate-response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  message: $json.content,\n  intent: $json.intent,\n  context: {\n    sessionId: $json.sessionId,\n    isGuest: $json.isGuest,\n    user: $json.user,\n    conversationHistory: $json.conversationHistory.slice(-5),\n    sessionMetadata: $json.session\n  },\n  source: 'guest_chat',\n  subAgent: $json.subAgent\n} }}"
      },
      "id": "generate-ai-response",
      "name": "Generate AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 500]
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response\nconst aiResponse = $input.first().json.data || $input.first().json;\nconst chatData = $('Extract Intent').first().json;\n\nreturn {\n  json: {\n    ...chatData,\n    aiResponse: aiResponse.response || aiResponse.message || 'I apologize, but I need more information to help you better.',\n    responseMetadata: {\n      intent: chatData.intent,\n      confidence: chatData.confidence,\n      subAgent: chatData.subAgent\n    }\n  }\n};"
      },
      "id": "extract-ai-response",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/live-chat/sessions/{{ $json.sessionId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  sessionId: $json.sessionId,\n  type: 'agent',\n  content: $json.aiResponse,\n  agentName: 'AI Assistant',\n  metadata: $json.responseMetadata\n} }}"
      },
      "id": "save-ai-response",
      "name": "Save AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCALPRO_API_URL }}/api/ai-bot/interactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.LOCALPRO_API_KEY }}"
            },
            {
              "name": "X-API-Secret",
              "value": "={{ $env.LOCALPRO_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  type: 'guest_chat_message',\n  source: 'guest_chat',\n  intent: $json.intent,\n  subAgent: $json.subAgent,\n  status: $json.requiresEscalation ? 'escalated' : 'completed',\n  data: {\n    sessionId: $json.sessionId,\n    messageId: $json.messageId,\n    message: $json.content,\n    response: $json.aiResponse,\n    confidence: $json.confidence\n  },\n  context: {\n    sessionId: $json.sessionId,\n    isGuest: $json.isGuest,\n    user: $json.user\n  }\n} }}"
      },
      "id": "log-interaction",
      "name": "Log Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2650, 400]
    }
  ],
  "connections": {
    "Guest Chat Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Chat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Extract Chat Data": {
      "main": [
        [
          {
            "node": "Get Chat Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat Session": {
      "main": [
        [
          {
            "node": "Merge Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Session Data": {
      "main": [
        [
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Extract Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Intent": {
      "main": [
        [
          {
            "node": "Check Escalation Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Escalation Needed": {
      "main": [
        [
          {
            "node": "Trigger Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Escalation": {
      "main": [
        [
          {
            "node": "Send Escalation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Escalation Message": {
      "main": [
        [
          {
            "node": "Log Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Response": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI Response": {
      "main": [
        [
          {
            "node": "Log Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Interaction": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-02T00:00:00.000Z",
  "versionId": "1"
}
